# Terraform state and backups
*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS Credentials (local only)
credentials.tf
terraform.tfvars
# PEM Keys
*.pem
*.key

# Logs
*.log
*.txt

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
